#content {
  width: 960px;
  font-size: 120%;
}

#domains { border-collapse:collapse;}
#domains h4 { margin:0px; padding:0px;}
#domains ul { margin:10px 0 10px 40px; padding:0px;}
#domains th { background:#77C043 repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left; font-size: 90%;}
#domains td { color:#000; padding:7px 15px; }
#domains tr { background-color:#AAE083; }
#domains tr.summary:hover {background-color:#BBF093;}
#domains tr.odd td { background:#fff repeat-x scroll center left; cursor:pointer; }
#domains div.arrow { background:transparent url(/images/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#domains div.up { background-position:0px 0px;}

#domains .tick {
  text-indent: -4000px;
  display: block;
  background-image: url(/images/tick-icon.png);
  width: 16px;
  height: 16px;
}

#domains .cross {
  text-indent: -4000px;
  display: block;
  background-image: url(/images/cross-icon.png);
  width: 16px;
  height: 16px;
}

.bigbutton {
  background-color: #77C043;
  color: white;
  font-size: 14;
  font-weight: bold;
  padding: 10px 10px;
}

#project_info {
  float: right;
  margin-right: 100px;
  font-size: larger;
  padding-top: 10px;
}

.bubble {
  border: 1px solid black;
  background: #ccc;
  padding: 10px;
  position: fixed;
  top:  265px;
  left: 400px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* facebook */

#account {
  display: inline;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

.login-button {
  background: url(https://s-static.ak.fbcdn.net/images/connect_sprite.png) no-repeat scroll left -188px #29447E;
  display: inline-block;
  line-height: 14px;
  outline: medium none;
  padding: 0 0 0 1px;
}

.login-button span {
  background: url(https://s-static.ak.fbcdn.net/images/connect_sprite.png) repeat scroll 0 0 #5F78AB;
  border-bottom: 1px solid #1A356E;
  border-top: 1px solid #879AC0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin: 1px 1px 0 21px;
  padding: 2px 6px 3px;
}