<div id="hsts_info">
  Does the website use HSTS? (HTTP Strict Transport Security)
</div>

<div id="https_info">
  Does the website use HTTPS?
</div>

<div id="mixed_info">
  Is the website free of mixed content?
</div>

<div id="allhttps_info">
  Is HTTPS in use for all pages on the entire site?
</div>

<div id="ident_info">
  Is HTTPS in use on all pages where a user enters personally identifying information?
</div>

<div id="securecookies_info">
  Does the website use secure cookies?
</div>

<div id="validssl_info">
  Is the SSL certificate valid?
</div>

<div id="key_info">
  What is the key strength?
</div>