<div id="page" class="about">
<h2>About HTTPSNow</h2>
<p>HTTPS Now is an educational website which aims to teach internet users about HTTPS, the protocol that encrypts your web browsing traffic and provides a basic level of security against hackers, identity theft, and other threats to your privacy. HTTPS works by encrypting requests from your browser to websites, and then encrypting the resulting pages that are displayed. HTTPS Now is a three-part campaign for web-surfing security, including updated tools for users to protect their web browsing, an Internet-wide survey of the state of HTTPS, and help for site operators in implementing HTTPS. </p>
<br>
<p>Often, sites that have deployed HTTPS do not do so by default, or have other problems with their implementation which make them less secure than they could be. Other sites have not deployed HTTPS at all.  So we are asking users to contribute to our Internet survey of sites that do and do not use HTTPS in order to get an accurate picture of Internet security. Additionally, we have provided links to tools such as the HTTPS Everywhere Firefox extension, which automatically forces sites that support HTTPS to do so by default. Finally, we have created detailed resources for web operators who are interested in using HTTPS to ensure that their users get the protection they need and deserve.</p>
<br></br>
<h2 id="how">How to use this website</h2>
<p>The HTTPS Now survey allows users to contribute information about how websites use HTTPS. You can go to any website and tell us whether the site uses HTTPS, if the site uses secure cookies, if the site serves mixed content, and more.</p>
<br>
<p>If you don't know what these terms mean or if they are in use, just click on the question mark at the top of each column. To see notes and more information about a website, click on the arrow in the show column or the name of the domain itself. Check back frequently to see which new websites have been added, or choose a website and contribute yourself!</p>
<br></br>
</div>
