<h1>Is HTTPS in use for all pages on the entire site?</h1>

<h2>What it is:</h2>
<p>A site can provide the best protection for its users by using HTTPS on all parts and elements of the site, without exception. Among other benefits, this makes it harder for an eavesdropper to gather clues about how a user is using a site, such as which parts of the site they are using. It also prevents attackers from corrupting or altering information presented on the site in ways that could confuse or mislead users, or draw them away from the real site to counterfeit versions. Using HTTPS on all pages is GOOD. Sites should do this.</p>

<h2>How to tell:</h2>
<p>Whether a site uses HTTPS on all pages can only be determined experimentally, by using the site. If you use the site extensively, exploring various features and parts of the site, and you find that the HTTPS security indicators in your browser are always present everywhere, you can conclude that the site uses HTTPS on all pages. If you can find a specific page or address within the site where insecure HTTP is used, including a mixed-content warning, you can conclude that the site does not use HTTPS on all pages.</p>

