<h1>Dan and Kellea's Secret Love Adventure</h1>
<p>This is the web site for Dan and Kellea's 2012 Melbourne wedding-like event</p>
<p>To edit your RSVP or view details for the event, enter your email below and click a button</p>
<% @event = Event.find(2) %>
<%= render :partial => 'search', :locals => {:event => @event, :name => 'Melbourne'} %>
