<h1>Does the website use HSTS?</h1>

<h2>What it is:</h2>
<p>HSTS (HTTPS Strict Transport Security) is a new standard by which a web site can request that users automatically always use HTTPS when communicating with that site. The users' browsers will remember this request and automatically turn on HTTPS when connecting to the site in the future, even if the user didn't specifically ask for it. Using HSTS is GOOD.  Sites should do this.</p>

<h2>How to tell:</h2>
<p>Go to Qualys SSL Labs https://www.ssllabs.com/ssldb/index.html and enter the URL you are testing. Once the report has been generated, scroll down to "strict transport security." If the site is using HSTS, the result should be "yes." If not, it will read "no."</p>

<img src="/doc/images/hsts.png" alt="HSTS Screenshot"/>