<h1>Does the website use HTTPS?</h1>

<h2>What it is:</h2>
<p>HTTPS (HTTP Secure) is the secure version of the web's HTTP protocol. When sites use HTTPS, users' requests to the site, as well as the site's replies, are encrypted.  This makes it harder for eavesdroppers to know what a user is doing on the site, including what the user is reading or writing or which parts of the site the user is communicating with. Using HTTPS is GOOD. Sites should do this.</p>

<h2>How to tell:</h2>
<p>Does the site's address in the browser's address bar begin with "https://"or "http://"?  If it begins with "https://" it is using the secure protocol. If it begins "http://", manually change it to "https://" and press Enter. If it changes back to "http://" the site does not support HTTPS.</p>

<img src="/doc/images/https.png" alt="HTTPS Screenshot"/>

