<h1>Is HTTPS in use on all pages where a user enters personally identifying information?</h1>

<h2>What it is:</h2>
<p>Some sites use HTTPS for some pages but not for others (e.g. login and payment pages are encrypted, but browsing is not).  This means that the level of protection provided by those sites is inconsistent and leaves you vulnerable to attack. Using HTTPS on pages where users enter personal information is GOOD. Sites should do this.</p>

<h2>How to tell:</h2>
<p>Check to see if you see "http://" instead of "https://" on any page where you might enter personal information, such as a login page, sign-up page, or payment page. For example, Amazon.com uses HTTPS on their login page:</p>

<img src="/doc/images/ident1.png" alt="Security enabled on login page"/>

But not during browsing:
<img src="/doc/images/ident2.png" alt="Security not enabled while browsing"/>