<h1>Is the website free of mixed content?</h1>

<h2>What it is:</h2>
<p>Mixed content is a problem that occurs when a site is using HTTPS for a page as a whole, but some elements on that page, such as an image, are not encrypted with HTTPS. This can let someone eavesdrop on or tamper with that part of the page. For instance, if a news or encyclopedia site doesn't encrypt images, an eavesdropper could see what images are loaded and potentially deduce which news or encyclopedia articles you're reading. If a webmail site doesn't encrypt its Javascript (or parts of the page that can load Javascript), an eavesdropper could tamper with the site's Javascript code and reprogram it to leak unencrypted copies of your e-mail.</p>

<p>Sites that have mixed content are also potentially vulnerable to attack software like Firesheep. This vulnerability may exist even if a particular attack program doesn't appear to work against a particular web site with some minor technical changes. Having pages free of mixed content is GOOD. Sites should do this.</p>

<h2>How to tell:</h2>
<p>In Firefox, a lock icon will be displayed in the lower right-hand corner of the browser when the page you're viewing uses HTTPS.  If the lock icon is unadorned, the page is free of mixed content. If the lock icon is accompanied by an exclamation mark, the page you're viewing has a mixed content problem.</p>

<h3>Secure</h3>
<img src="/doc/images/mixed_info1.png" alt="No mixed info on Google"/>

<h3>Mixed Content</h3>
<img src="/doc/images/mixed_info2.png" alt="Mixed info on Wikipedia"/>

<p>You can confirm this in Firefox by choosing Tools / Page Info (or pressing Ctrl-I). At the bottom of the Page Info dialog, you'll see the text "Connection Encrypted" if the page has no mixed content) or "Connection Partially Encrypted" if the page has a mixed content problem.</p>

<h3>Secure</h3>
<img src="/doc/images/mixed_info3.png" alt="Secure connection indicated in Firefox"/>

<h3>Mixed Content</h3>
<img src="/doc/images/mixed_info4.png" alt="Partially-encrypted connection indicated in Firefox"/>
