<div id="page">
  <div class="actions"><%= link_to raw('&larr; Domain List'), domains_path %> <%= link_to 'Show', @domain %></div>

  <h2>Edit Domain <%= @domain.name %></h2>
  
  <%= render 'form' %>
  <div class="clear"></div>
</div>