<h2>Edit Domain <%= @domain.name %></h2>

<div id="action-content" class="clearfix">
<%= render 'form' %>

<%= link_to raw('&laquo; Domain List'), domains_path %>
| <%= link_to 'Show', @domain %>
</div>